	.st0{fill:#FFFFFF;stroke:#6C11CC;stroke-miterlimit:10;}
	.st1{stroke:#6C11CC;stroke-miterlimit:10;}
	.st2{fill:#FFFFFF;}
	.st3{font-family:'MyriadPro-Regular';}
	.st4{font-size:9px;}
	.st5{font-family:'Avenir-Medium';}
	.st6{font-size:11px;}
	.st7{fill:#FFFFFF;stroke:#CC155F;stroke-miterlimit:10;}
	.st8{stroke:#CC155F;stroke-miterlimit:10;}
	.st9{stroke:#57BABC;stroke-miterlimit:10;}
	.st10{fill:#FFFFFF;stroke:#57BABC;stroke-miterlimit:10;}
	.st11{fill:#FFFFFF;stroke:#DBD067;stroke-miterlimit:10;}
	.st12{stroke:#DBD067;stroke-miterlimit:10;}
	.st13{fill:#FFFFFF;stroke:#CE55CE;stroke-miterlimit:10;}
	.st14{stroke:#CE55CE;stroke-miterlimit:10;}
	.st15{fill:#FFFFFF;stroke:#EDE60F;stroke-miterlimit:10;}
	.st16{stroke:#EDE60F;stroke-miterlimit:10;}
	.st17{stroke:#59966C;stroke-miterlimit:10;}
	.st18{fill:#FFFFFF;stroke:#59966C;stroke-miterlimit:10;}
	.st19{fill:#FFFFFF;stroke:#C211CC;stroke-miterlimit:10;}
	.st20{stroke:#C211CC;stroke-miterlimit:10;}
	.st21{fill:#FFFFFF;stroke:#0E7BCC;stroke-miterlimit:10;}
	.st22{stroke:#0E7BCC;stroke-miterlimit:10;}
	.st23{fill:#FFFFFF;stroke:#38CC0E;stroke-miterlimit:10;}
	.st24{stroke:#38CC0E;stroke-miterlimit:10;}
	.st25{fill:#FFFFFF;stroke:#CC910D;stroke-miterlimit:10;}
	.st26{stroke:#CC910D;stroke-miterlimit:10;}
	.st27{fill:#FFFFFF;stroke:#FF1806;stroke-miterlimit:10;}
	.st28{stroke:#FF1806;stroke-miterlimit:10;}

  .filled{fill:#38CC0E}