body {
  font-family: $font-text;
  margin: 40px;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
}

p {
  font-size: 12px;
}

text {
  font-size: 8px;
  font-family: sans-serif;
}